Options +Indexes
DirectoryIndex disabled

<IfModule mod_autoindex.c>
    IndexOptions FancyIndexing HTMLTable NameWidth=*
</IfModule>

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
</IfModule>